  <!-- Start Banner Hero -->
  <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://pngimg.com/uploads/iphone_12/iphone_12_PNG23.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Budotekno farkı</b></h1>
                            <h3 class="h2">En uygun ürünü bulun</h3>
                            <p style="text-align:justify;"> 
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam perferendis distinctio magnam quibusdam enim praesentium non maiores natus totam omnis, consectetur modi nisi laudantium cupiditate nostrum itaque illum quidem voluptatem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://pngimg.com/uploads/iphone_13/iphone_13_PNG2.png" width="350" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Budotekno</h1>
                            <h3 class="h2">iPhone 12 </h3>
                            <p style="text-align: justify;">
                               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet eaque, consequatur obcaecati inventore a corporis mollitia excepturi porro? Quia quidem cupiditate itaque necessitatibus pariatur molestiae modi deleniti provident expedita at.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="https://pngimg.com/uploads/iphone_14/iphone_14_PNG6.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Karşınızda</h1>
                            <h3 class="h2"> iPhone 14 Pro</h3>
                            <p style="text-align: justify ;">
                                
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque, quis delectus, quasi et similique corrupti fugit necessitatibus vitae, commodi maiores? Accusantium quisquam iusto fuga, minima deleniti architecto debitis doloribus?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i> 
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i> 
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Ayın Ürünleri</h1>
           
        </div>
    </div>
    <div class="row">


        <% data.forEach(i => { %>

            <% if (i.ayinUrunu==true) { %>

                <div class="col-12 col-md-4 p-5 mt-3">
                    <a href="#"><img src="<%= i.img %> " width="250" height="250" class="rounded-circle border"></a>
                    <h5 class="text-center mt-3 mb-3"><%= i.model %> </h5>
                    <p class="text-center"><a class="btn btn-success" href="/productDetails/<%= i.id %> ">Ürün Detayı</a></p>
                </div>
                
             
            <% } %>

            
        
        <% }) %>
        
        
    
    
    </div>
</section>
<!-- End Categories of The Month -->


 <!-- Start Featured Product -->
 <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Çok Satanlar</h1>
                
            </div>
        </div>
        <div class="row">

            <% data.forEach(i => { %>

                <% if (i.cokSatan==true) { %>

                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                        
                            <img src="<%= i.img %> " width="300" height="300" class="card-img-top" >
                            
                            <div class="card-body">
                                <a class="h2 text-decoration-none text-dark"><%= i.model %> </a>
                                <br>
    
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                    </li>
                                    <li class="text-muted text-right"><%= i.fiyat %> ₺ </li>
                                </ul>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                                </p>
                                <p class="text-muted">
                                    <a class="btn btn-success text-white mt-2" href="/productDetails/<%= i.id %>">
                                            Detay
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                 
                <% } %>

                
            
            <% }) %>
            
        
        </div>
    </div>
</section>
<!-- End Featured Product -->

<%- include("../../partials/referance") %>  